* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Satoshi, sans-serif;
  background-color: #1e1e1e;
  font-size: clamp(14px, 1.5vw, 18px);
}

@mixin flex-style($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

section {
  max-width: 1950px;
}

main {
  width: 100%;
  @include flex-style($gap: 0rem);
  align-items: center;

  section.view1 {
    width: 100%;
    padding: 1rem;
    @include flex-style($gap: 1rem);

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 1rem;
      }
    }

    .bottom {
      @include flex-style($gap: 5rem);
      padding: 3rem;
      background-color: rgb(28, 45, 45);
      border-radius: 1rem;

      .text {
        @include flex-style($gap: 1.5rem);

        h1 {
          font-weight: 400;
          font-size: 4rem;
        }

        p {
          line-height: 1.6rem;
          opacity: 0.5;
          font-weight: 300;
          font-size: 1.2rem;
        }
      }

      .srcoll-down {
        display: flex;

        .ri-arrow-down-fill {
          padding: 0.8rem;
          background-color: #1e1e1e;
          border-radius: 20px;
        }

        .btn {
          font-size: 300;
          padding: 0.5rem;
          background-color: #171718;
          border: none;
        }
      }
    }
  }

  section.view2 {
    width: 100%;
    @include flex-style(0.2rem);
    padding: 1rem;
    // background-color: blueviolet;

    .top,
    .bottom {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      .element {
        text-align: center;
        @include flex-style(0.3rem);

        h2 {
          font-size: 3rem;
          font-weight: 300;
        }
      }
    }
  }

  section.view3 {
    width: 100%;
    padding: 1rem;
    @include flex-style($gap: 1rem);

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 1rem;
      }
    }

    .bottom {
      @include flex-style($gap: 5rem);
      padding: 3rem;
      background-color: rgb(28, 45, 45);
      border-radius: 1rem;

      .bottom > p {
        text-transform: uppercase;
      }

      .text {
        @include flex-style($gap: 1.5rem);
      }
      h1 {
        font-weight: 400;
        font-size: 4rem;
      }

      p {
        line-height: 1.6rem;
        opacity: 0.5;
        font-weight: 300;
        font-size: 1.2rem;
      }
    }
  }

   section.view4 {
    width: 100%;
    padding: 1rem;
    @include flex-style($gap: 1rem);

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 1rem;
      }
    }

    .bottom {
      @include flex-style($gap: 5rem);
      padding: 3rem;
      background-color: rgb(28, 45, 45);
      border-radius: 1rem;

      .bottom>p {
        text-transform: uppercase;
      }

      .text {
        @include flex-style($gap: 1.5rem);
      }
      h1 {
        font-weight: 400;
        font-size: 4rem;
      }

      p {
        line-height: 1.6rem;
        opacity: 0.5;
        font-weight: 300;
        font-size: 1.2rem;
      }
    }
  }
}

@media (min-width: 900px) {
  main {
    background-color: aquamarine;
    section.view1 {
      flex-direction: row;

      .top .bottom {
        width: 50%;
      }
      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .text {
          gap: 1rem;
          h1 {
            font-size: 3.5rem;
          }
          p {
            width: 60%;
            font-size: 1rem;
          }
        }
      }
    }

    section.view2 {
      flex-direction: row;
      padding: 1rem 5rem;
    }

     section.view3{
      flex-direction: row-reverse;

      .top ,.bottom {
        width: 50%;
      }
      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .text {
          gap: 1rem;
          h1 {
            font-size: 3.5rem;
          }
          .para {
            width: 95%;
            font-size: 1.1rem;
            display: flex;
            flex-direction: row;
            gap: 1.3rem;
          }
        }
      }
    }


     section.view4{
      flex-direction:row;

      .top ,.bottom {
        width: 50%;
      }
      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .text {
          gap: 1rem;
          h1 {
            font-size: 3.5rem;
          }
          .para {
            width: 95%;
            font-size: 1.1rem;
            display: flex;
            flex-direction: row;
            gap: 1.3rem;
          }
        }
      }
    }

    
  }

}

